@model DetailedTransactionsReport

@{
    ViewData["Title"] = "Account Movements";
}

<h1>Movements @ViewBag.Account</h1>

<h4>
    <a asp-route-month="@ViewBag.previousMonth" asp-route-year="@ViewBag.previousYear"
    class="btn btn-secondary"><i class="bi-chevron-left"></i></a>
    @Model.DateStart.ToString("MMM")-@Model.DateStart.Year
    <a asp-route-month="@ViewBag.laterMonth" asp-route-year="@ViewBag.laterYear"
    class="btn btn-secondary"><i class="bi-chevron-right"></i></a>
</h4>

<div class="container-totals mb-3">
    <div>
        <div>
            <strong>Deposits</strong>
        </div>
        <div class="positiveBalance">
            @Model.DepositsBalance.ToString("N")
        </div>
    </div>
    <div>
        <div>
            <strong>Withdrawals</strong>
        </div>
        <div class="negativeBalance">
            @Model.WithdrawalsBalance.ToString("N")
        </div>
    </div>
    <div>
        <div>
            <strong>Great Total</strong>
        </div>
        <div>
            @Model.Total.ToString("N")
        </div>
    </div>
</div>

@if(Model.GroupedTransactions.Count() == 0)
{
    <h5>No data to display</h5>
}else
{
    <table class="table">
        <tbody>
            @foreach(var groupedTransaction in Model.GroupedTransactions)
            {
                <tr style="background-color: lightblue; font-size: 26px">
                    <td colspan="3">@groupedTransaction.TransactionDate.Day
                        <span class="badge bg-secondary">
                            @groupedTransaction.TransactionDate.ToString("ddd")
                        </span>
                    </td>
                    <td class="positiveBalance">@groupedTransaction.DepositsBalance.ToString("N")</td>
                    <td class="negativeBalance">@groupedTransaction.WithdrawalsBalance.ToString("N")</td>
                </tr>
                @foreach(var transaction in groupedTransaction.Transactions)
                {
                    <tr style="vertical-align: middle">
                        <td>
                            <a asp-controller="transactions" asp-action="Edit" 
                            asp-route-id="@transaction.Id" asp-route-urlReturn="@ViewBag.urlReturn">
                                <i class="bi-pencil"></i>
                            </a>
                        </td>
                        <td>@transaction.Category</td>
                        <td>@transaction.Account</td>
                        <td class="activo">@(transaction.OperationTypeId == OperationType.Income
                            ? transaction.Amount.ToString("N"): null)</td>
                        <td class="pasivo">@(transaction.OperationTypeId == OperationType.Expense
                            ? transaction.Amount.ToString("N"): null)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
} 
