@model DetailedTransactionsReport

@{
    var amountsSummary = new AmountsSummaryViewModel()
    {
        Incomes = Model.DepositsBalance,
        Expenses = Model.WithdrawalsBalance,
        GreatTotal = Model.Total
    };
}

<partial name="_BrowseMonths" model="@Model.DateStart" />

<partial name="_AmountsSummary" model="@amountsSummary" />

@if(Model.GroupedTransactions.Count() == 0)
{
    <h5>No data to display</h5>
}else
{
    <table class="table">
        <tbody>
            @foreach(var groupedTransaction in Model.GroupedTransactions)
            {
                <tr style="background-color: lightblue; font-size: 26px">
                    <td colspan="3">@groupedTransaction.TransactionDate.Day
                        <span class="badge bg-secondary">
                            @groupedTransaction.TransactionDate.ToString("ddd")
                        </span>
                    </td>
                    <td class="positiveBalance">@groupedTransaction.DepositsBalance.ToString("N")</td>
                    <td class="negativeBalance">@groupedTransaction.WithdrawalsBalance.ToString("N")</td>
                </tr>
                @foreach(var transaction in groupedTransaction.Transactions)
                {
                    <tr style="vertical-align: middle">
                        <td>
                            <a asp-controller="transactions" asp-action="Edit" 
                            asp-route-id="@transaction.Id" asp-route-urlReturn="@ViewBag.urlReturn">
                                <i class="bi-pencil"></i>
                            </a>
                        </td>
                        <td>@transaction.Category</td>
                        <td>@transaction.Account</td>
                        <td class="activo">@(transaction.OperationTypeId == OperationType.Income
                            ? transaction.Amount.ToString("N"): null)</td>
                        <td class="pasivo">@(transaction.OperationTypeId == OperationType.Expense
                            ? transaction.Amount.ToString("N"): null)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
} 
