@model PaginationAnswer

@{
    var linkTemplate = string.Concat(Model.BaseURL, "?page={0}&recordsPerPage={1}");
    var activatePreviousButton = Model.Page > 1;
    var activateNextButton = Model.Page < Model.TotalPageQuantity;
}

<nav>
    <ul class="pagination">
        <li class="page-item @(activatePreviousButton ? null: "disable")">
            @if (activatePreviousButton)
            {
                <a class="page-link"
               href="@string.Format(linkTemplate, Model.Page - 1, Model.RecordsPerPage)">
                    Previous
                </a>
            }
            else
            {
                <span class="page-link">Previous</span>
            }
        </li>

        @for (var pageNumber = 1; pageNumber <= Model.TotalPageQuantity; pageNumber++)
        {
            <li class="page-item @(pageNumber == Model.Page ? "active" : null)">
                <a class="page-link" href="@string.Format(linkTemplate, pageNumber, Model.RecordsPerPage)">
                    @pageNumber
                </a>
            </li>
        }

        <li class="page-item @(activateNextButton ? null: "disable")">
            @if (activateNextButton)
            {
                <a class="page-link"
               href="@string.Format(linkTemplate, Model.Page + 1, Model.RecordsPerPage)">
                    Next
                </a>
            }
            else
            {
                <span class="page-link">Next</span>
            }
        </li>

    </ul>
</nav>