@{
    ViewData["Title"] = "Excel Report";
    var today = DateTime.Today;
    var oneMonthAgo = today.AddMonths(-1);
    var currentMonth = today.Month;
    var currentYear = today.Year;
    var lastMonth = oneMonthAgo.Month;
    var lastMonthYear = oneMonthAgo.Year;
    var lastYear = currentYear - 1;
}

<partial name="_SubMenu" Model="TransactionsSubMenu.Excel" />

<h1>Export Transactions to Excel</h1>

<div class="mb-3">
    <a asp-action="ExportExcelPerMonth" asp-route-month="@currentMonth" asp-route-year="@currentYear"
    class="btn btn-success"
    >
        Export Current Month
    </a> ~ @today.ToString("MMMM yyyyy")
</div>

<div class="mb-3">
    <a asp-action="ExportExcelPerMonth" asp-route-month="@lastMonth" asp-route-year="@lastMonthYear"
    class="btn btn-success"
    >
        Export last month
    </a> ~ @oneMonthAgo.ToString("MMMM yyyyy")
</div>

<div class="mb-3">
    <a asp-action="ExportExcelPerYear" asp-route-year="@currentYear"
    class="btn btn-success"
    >
        Export current year
    </a> ~ @currentYear
</div>

<div class="mb-3">
    <a asp-action="ExportExcelPerYear" asp-route-year="@lastYear"
    class="btn btn-success"
    >
        Export last year
    </a> ~ @lastYear
</div>

<div class="mb-3">
    class="btn btn-success"
    >
        Export All
    </a>
</div>
